*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

:root {
    --paste      : #fffcf5;
    --paster     : #eee1d0;
    --light-green: #99c497;
    --green      : #7ca984;
    --dark-green : #375b4d;
    --pink       : #f08b84;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

input[type="radio"] {
    visibility: hidden;
    margin-right: -10px;
}

main {
    background-image: url("images/tropical.jpg");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width:  60vw;
    height: 75vh;
    box-shadow: black 5px 5px 10px;
    display: grid;
    grid-template-rows: 90% 10%;
    border-radius: 25px;
}

.form {
    background-color: var(--paste);
    border: solid 5px var(--paster);
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.slider-nav {
    display: flex;
    background-color: var(--green);
    border: var(--dark-green) 5px solid;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 7px;
    height: 25px;
    background-color: var(--dark-green);
    border-radius: 5px;
}

.arrow-up {
    transform: rotate(45deg);
    margin-bottom: -10px;
}

.arrow-down {
    transform: rotate(-45deg);
    margin-top: -10px;
}

.arrow-left {
    padding: 0 40px;
    transition: padding .5s;
}

.arrow-left:hover {
    padding: 0 50px 0 30px;
}

.arrow-right {
    transform: rotate(180deg);
    padding: 0 40px;
    transition: padding .5s;
}

.arrow-right:hover {
    padding: 0 50px 0 30px;
}

.slider-buttons {
    display: flex;
    gap: 10px;
}

.slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}

.slider-button p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: var(--dark-green);
    font-family: 'Staatliches', sans-serif;
    font-size: 25px;
    color: var(--green);
    border-radius: 50%;
    transition: width .5s, height .5s, font-size .5s;
}

.slider-button p:hover {
    width: 45px;
    height: 45px;
    font-size: 30px;
}

.slide {
    width: 100%;
    height: 100%;
    margin-bottom: calc(-75vh * .9 + 3.25vw);
}

.slide h2 {
    font-family: 'Staatliches', sans-serif;
    font-size: 40px;
    color: black;
}

.slide2 {
    display: none;
}

.slide3 {
    display: none;
}

.form {
    padding: 1.5vw;
}

.male {
    object-fit: cover;
    object-position: left;
    width: 9vw;
    height: 25vw;
    display: none;
}

.female {
    object-fit: cover;
    object-position: right;
    width: 10.5vw;
    height: 25vw;
    display: none;
}

.other {
    width: 10.5vw;
}

.user-info {
    display: grid;
    height: calc(100% - 40px);
    grid-template-columns: 70% 30%;
}

.slide1 .name, .slide1 .contact {
    display: flex;
    gap: 30px;
}

.slide1 input {
    background-color: white;
    font-size: 15px;
}

.slide1 input[type="text"] {
    transition: border-color .5s;
}

.slide1 input[type="text"], 
.slide1 input[type="email"], 
.slide1 input[type="tel"],
.slide1 input[type="date"] {
    border-color: var(--dark-green);
    outline: none;
}

.slide1 input[type="text"]:focus, 
.slide1 input[type="email"]:focus, 
.slide1 input[type="tel"]:focus,
.slide1 input[type="date"]:focus {
    border-color: var(--pink);
}

.slide1 label {
    display: flex;
    align-items: center;
}

.please-work {
    display: flex;
}

.slide1 label p {
    display: flex;
    margin-left: -215px;
    background-color: white;
    transition: transform .5s background .5s;
    padding: 0 5px;
    font-size: 15px;
}

.slide1 .inputs {
    border: solid 2px var(--dark-green);
    width: 225px;
    height: 30px;
    border-radius: 3px;
    padding: 10px;
}   

.slide1 .radio-button-container {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px var(--dark-green);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color .5s;
}

.slide1 .radio-button-container:hover {
    border-color: var(--pink);
}

.slide1 input[type=radio]:checked ~ .radio-button-container .radio-button {
    width: 15px;
    height: 15px;
}

.slide1 input[type=radio]:checked ~ .radio-button-container {
    border-color: var(--pink);
}

.slide1 .radio-button {
    width: 0px;
    height: 0px;
    background-color: var(--pink);
    border-radius: 50%;
    transition: width .25s, height .25s;
}

.gender {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gender label {
    display: flex;
    gap: 10px;
    font-size: 15px;
}

.user-info {
    padding: 30px 20px;
}

.user-info-fillables {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.dot-container {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--dark-green);
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.dob, .pnum, .email, .fname, .lname {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dob img, .pnum img, .email img, .fname img, .lname img {
    width: 25px;
    height: 25px;
}

.name input {
    width: 400px;
}

.pi-graphic-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pi-graphic-data {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
}


footer {
    background-color: var(--dark-green);
    border-top: 5px solid var(--green);
}

